.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
DataMixing/*.asv
SSEProcessingForWuWTest/*.dll
SSEProcessingForWuWTest/*.exe 
SSEProcessingForWuWTest/*.scd
SSEProcessingForWuWTest/*.v
ProcessRecogResult/*.mat
